.colorCardToggle {
  position: absolute;
  right: 5%;
  margin-right: -30px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 11px 2px grey;
  cursor: pointer;
}

.colorCardToggle.hidden {
  box-shadow: 0px 0px 11px 2px #87d5d6;
}

.colorCardContainer {
  position: absolute;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 25px;
  width: 250px;
  height: 330px;
  background: #fff;
  box-shadow: 0px 0px 5px grey;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
}

.colorCardContainer.text {
  height: 570px;
}

.colorCardContainer.path {
  height: 180px;
}

.backgroundColorGrid,
.strokeColorGrid,
.textColorGrid {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1em;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /*background: #e6e3ce;*/
  justify-content: space-evenly;
  align-content: space-between;
}

.numberGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

.numberBlock {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  background: #e6e3ce;
  height: 20px;
  text-align: center;
  width: 60px;
  border-radius: 5px;
}

.colorCardA {
  position: relative;
  left: 28px;
}

.colorCardContainerInner {
  position: relative;
  top: 1.5em;
}

.backgroundColorBlock,
.strokeColorBlock,
.textColorBlock {
  cursor: pointer;
  margin-top: 12.5px;
  margin-left: 10px;
  margin-right: 10px;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  border-radius: 4px;
}
.colorInput {
  width: 80%;
  margin-left: 10%;
  font-size: 12px;
  color: rgb(102, 102, 102);
  border: 0px;
  outline: none;
  height: 22px;
  box-shadow: rgb(221, 221, 221) 0px 0px 0px 1px inset;
  border-radius: 4px;
  padding: 0px 7px;
  box-sizing: border-box;
}
span.hexText {
  position: absolute;
  right: 13%;
  font-size: 11px;
  font-family: Menlo;
  color: rgb(150, 150, 150);
  font-weight: 400;
  margin-top: 4px;
}
.colorInputContainer {
  padding-bottom: 1rem;
}
div.selected {
  box-shadow: 0 0 0 2px #00c4cc, inset 0 0 0 1px #fff;
}

.selectedNumber {
  border: 1px solid;
}

.textSizeContainer {
  margin-top: 12.5px;
  text-align: center;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}
.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
  border-radius: 0px;
}
.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background: #ddd;
  }
}
.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}
