div.ModalContainer {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 250px;
  overflow: auto;
  textalign: center;
  border: 3px solid purple;
  background: #FFFFFF;
  z-index: 2;
}

button.ManualButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}
button.ManualButton {
  font-weight: 600;

  text-transform: uppercase;
  padding: 0.5em 0.5em;
  background: #FFFFFF;
  border: 2px solid black;
  border-radius: 0.75em;

  margin-left: 0.5em;
}

div.ModalBlock {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
